
.input, .input.search, .input.primary, .input.month, .input.year {
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  border-style: none;
  font-size: 1rem;
}

.input.primary {
  margin: 5px 0;
  border: 1px solid goldenrod;
}

.input.search {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid goldenrod;
}

.input.month {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid goldenrod;
  width: 2rem;
}

.input.year {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid goldenrod;
  width: 2.5rem;
}
